/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: arial, verdana, sans-serif;
  /*background-color: rgb(255, 51, 51);*/
  background-color: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.logo-header {
  /*color: white;*/
  color: rgb(255, 51, 51);
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  /*border-top: 1px solid #e5e5e5;*/
  margin-top: 30px;
}

.footer p {
  /*color: white;*/
  color: rgb(255, 51, 51);
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .img-section, .homepage-img {
    text-align: center;
    background-repeat: no-repeat no-repeat;
    /*background-color: black;*/
  }

  .homepage-img {
    background-image: url('../images/homepage.png');
    height: 385px;
    width: 875px;
    background-size: 66%;
    margin-left: 4.5em;
  }

  .menu-modal {
    width: 100%;
    position: relative;
    min-height: 500px;
  }

  .menu-btn {
    margin-top:10px;
    margin-bottom:30px;
  }

  #map {
    width: 500px;
    height: 400px;
    background-color: #CCC;
  }
}

body p, body div {
  color: rgb(255, 51, 51);
}

.index-view {
  min-width: 700px;
  min-height: 385px;
}

.happy-hour p, .age p {
  text-align: center;
}

.carousel-inner {
  min-height: 385px;
}

.carousel-inner > .item > img {
  padding-left: 16em;
}

.carousel-indicators {
  bottom: 55px;
}

* {
  transition: all 0.3s ease-out;
}
