<div class="text-center">
  <map class="center-block" center="47.6134058,-122.345995" zoom="15">
    <marker id="list" position="47.6134058,-122.345995" on-click="showInfoWindow(event, 'text')"></marker>
    <info-window id="text" visibile-on-marker="list">
      <span>
        <strong>List</strong><br>
        2226 1st Avenue<br>
        Seattle, WA 98121
      </span>
    </info-window>
  </map>
  <a class="btn btn-lg btn-success menu-btn" href="https://www.google.com/maps/dir//List+Restaurant,+2226+1st+Ave,+Seattle,+WA+98121/@47.6134058,-122.345995,17z/data=!4m13!1m4!3m3!1s0x5490154dba59c9af:0x92cbe7090ddef8f9!2sList+Restaurant!3b1!4m7!1m0!1m5!1m1!1s0x5490154dba59c9af:0x92cbe7090ddef8f9!2m2!1d-122.345995!2d47.6134058" target="_blank">Get Directions</a>
</div>
