<div class="happy-hour">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Happy Hour Times</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item active">Sunday & Monday:  <strong>All Day</strong></li>
      <li class="list-group-item">Tuesday - Thursday: <strong>4:00 - 6:30pm</strong> & <strong>9pm - Midnight</strong></li>
      <li class="list-group-item">Friday & Saturday:  <strong>4:00 - 6:30pm</strong></li>
    </ul>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">All items on the 'food list' are 50% off</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><strong>$15</strong> Bottle of Red Wine</li>
      <li class="list-group-item"><strong>$15</strong> Bottle of White Wine</li>
      <li class="list-group-item"><strong>$3.99</strong> Wines by the Glass</li>
      <li class="list-group-item"><strong>$3.25</strong> Beer on Tap</li>
    </ul>
  </div>
</div>
