<!-- <div class="jumbotron">
  <h1>Hellooooo</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
 -->
 <div class="container">
    <div class="row">
      <div class="span4"></div>
        <div class="span4"><img class="center-block" src="../images/homepage.png"/></div>
      <div class="span4"></div>
    </div>
</div>
