<div class="row">
  <div class="col-md-6 center-block">
    <img src="../images/views1.png" alt="..." class="img-rounded">
  </div>
  <div class="col-md-6 center-block">
    <img src="../images/views2.png" alt="..." class="img-rounded">
  </div>
</div>
<div class="row">
  <div class="col-md-6 center-block">
    <img src="../images/views3.png" alt="..." class="img-rounded">
  </div>
  <div class="col-md-6 center-block">
    <img src="../images/views4.png" alt="..." class="img-rounded">
  </div>
</div>
